h1 {
   color: #ffffff;
   font-family: sans-serif;
}
p {
   color: #ffffff;
   font-family: sans-serif;
}

body {
   background-image: url("backgroundtest.png");
   background-size: cover;
   background-position: center;
}
table {
   border-spacing: 50px;
}
            
