h1 {
   color: #ffffff;
   font-family: sans-serif;
}
p {
   color: #ffffff;
   font-family: sans-serif;
   font-size: 16px;
}

body {
   background-image: url("mybackground.jpg");
   background-size: cover;
   background-position: center;
}
h2 {
   color: #ffffff;
   font-family: sans-serif;
}
#mainbodie {
                   width: 70%";
                    margin: auto;
                    border: 1px solid;
                    border-top: 5px solid;
                    border-bottom: 5px solid;
                    background-color: #00000095; 
                    padding: 20px;
                            }

            
